/* THE FIVE VARIABLES IN ROOT ARE ONLY THING YOU NEED TO CHANGE */
/* NOTE: Do NOT surround variables in quotes */
:root {
    /* Before and after images, using relative paths */
    --before: img_forest.jpg;
    --after: img_snow.jpg;
    /* Height is automatically scaled with width */
    --img-width-min: 1000px;
    --img-width-max: 1600px;
    --scale-add: 0.3; /* How much you zoom when using mousewheel */
}

* {
    box-sizing: border-box;
    color: orange;
    font-size: 18px;
}

body {
    background-image: url("../background.png");
}

.img-comp-container {
    position: relative;
    margin: 0 auto;
    outline: solid 2px orange;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
}

.img-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    /* Set the appearance of the slider */
    width: 8px;
    height: 50%;
    background-color: orange;
    opacity: 1;
    border-radius: 0%;
}

.img-slider:hover {
    opacity: 0.4;
}

.select-images {
    display: inline-block;
}

.select-images > div {
    padding: 4px;
}

.select-images > div > * {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

.select-images > div > input {
    color: red;
}

.select-images > div > label {
    display: inline-block;
    width: 100px;
}

.toolbar {
    background: rgba(0, 0, 0, 0.8);
    margin: 5px;
}

.zoom-level {
    font-size: 24px;
}