/* THE VARIABLES IN ROOT ARE ONLY THING YOU NEED TO CHANGE */
/* NOTE: Do NOT surround variables in quotes */
:root {
    /* Before and after images, using relative paths */
    --before: img_forest_blur.jpg;
    --after: img_forest.jpg;
    /* Height is automatically scaled with width */
    --img-width-min: 1000px;
    --img-width-max: 1440px;
    --img-height-max: 810px;
    --zoom-factor: 0.15; /* Base zoom value to calculate zoom speed from */
    --zoom-speed: 1; /* How much you zoom when using mousewheel */
}

* {
    box-sizing: border-box;
    color: orange;
    font-size: 18px;
}

body {
    background-image: url("../background.png");
}

.before-title {
    right: 20px;
    top: 30px;
}

.after-title {
    left: 20px;
    top: 30px;
}

.center {
    display: flex;
    align-items: center;
    min-height: 90vh;
}

.description {
    bottom: 20px;
    left: 20px;
}

.img-comp-container {
    position: relative;
    margin: 0 auto;
    outline: solid 2px orange;
    overflow: hidden;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    background: black;
}

.img-slider {
    position: absolute;
    z-index:9;
    cursor: ew-resize;
    width: 3px;
    height: 100%;
    background-color: orange;
    opacity: 1;
    border-radius: 0%;
}

.img-slider:hover {
    opacity: 0.4;
}

.overlay-text {
    position: absolute;
    z-index: 100;
    text-shadow: 1px 1px 3px #000, -1px 1px 3px #000;
    white-space: nowrap;
    color: white;
    font-size: 24px;
}

.select-images {
    display: inline-block;
}

.select-images > div {
    padding-bottom: 5px;
}

.select-images > div > * {
    text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000;
}

.select-images > div > input {
    color: red;
}

.select-images > div > label {
    display: inline-block;
    width: 100px;
}

.title-tools {
    display: inline-block;
}

.title-tools > div {
    display: inline-block;
    padding-bottom: 5px;
}

.title-tools > div > input {
    color: black;
}

.toolbar {
    background: rgba(0, 0, 0, 0.8);
    margin: 5px;
    padding: 5px;
}

.zoom-level {
    font-size: 24px;
}

.zoom-tools {
    display: inline-block;
    margin-right: 15px;
}